<div class="row">
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>CONTO</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.code">
        </mat-form-field>
    </div>
    <div class="col-sm-8">
        <mat-form-field fxFlex="100%">
            <mat-label>MASTER KEY</mat-label>
            <mat-select [(ngModel)]="model.masterKeyId">
                <mat-option *ngFor="let item of masterKeys" [value]="item.id">
                    {{item.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>VALUE</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.value">
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>VALUE NUMBER</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.valueNumber">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>TYPE</mat-label>
            <mat-select [(ngModel)]="model.description">
                <mat-option value="items">Items
                </mat-option>
                <mat-option value="assets">Assets
                </mat-option>
                <mat-option value="services">Services
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>ROW</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.comment">
        </mat-form-field>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <mat-form-field fxFlex="100%">
            <mat-label>END OF YEAR CONTO</mat-label>
            <mat-select [(ngModel)]="model.endOfYearContoId" (selectionChange)="categoryChange($event.value)">
                <mat-option *ngFor="let item of endOfYearContos" [value]="item.id">
                    {{item.value}} - {{item.code}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">SAVE</button>
        <button mat-flat-button color="primary" (click)="close()">CANCEL</button>
    </div>
</div>