::ng-deep .mat-form-field {
  .mat-form-field-infix {
    padding-bottom: 7px;
  }

  .md-datepicker-input-container {
    width: 300px;
  }

  .mat-form-field-wrapper {
    .mat-form-field-flex {
      height: auto;
      padding-top: 5px;
      font-size: 14px;
    }
  }
}
