<div class="fury-list-table">
  <div class="fury-list-header"
       *ngIf="!hideHeader"
       fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="8px"
       fxLayoutGap.gt-xs="24px">
    <div class="fury-list-name">{{ name }}</div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <mat-icon class="fury-filter-input-icon">search</mat-icon>
      <input *ngIf="type == 1" fxFlex class="fury-filter-input" #filter placeholder="{{ 'Search' | localize }}&hellip;"
        (keyup)="($event.which === 13)?emitEvent():false">

      <mat-form-field class="fury-filter-holder" *ngIf="type == 2" fxFlex>
        <input (dateChange)="emitEvent()" class="fury-filter-input" (click)="singleDateDatepickerRef.open()" (focus)="singleDateDatepickerRef.open()"
          [matDatepicker]="singleDateDatepickerRef" matInput readonly required #filter placeholder="{{ 'Date' | localize }}">
        <mat-datepicker-toggle [for]="singleDateDatepickerRef" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #singleDateDatepickerRef></mat-datepicker>
      </mat-form-field>

      <div style="width: 100%;" *ngIf="type == 3">
        <mat-form-field class="fury-filter-holder" fxFlex>
          <input (dateChange)="emitEventObject()" class="fury-filter-input" (click)="doubleStartDateDatepickerRef.open()" (focus)="doubleStartDateDatepickerRef.open()"
            [matDatepicker]="doubleStartDateDatepickerRef" matInput readonly required #filter placeholder="{{ 'StartDate' | localize }}">
          <mat-datepicker-toggle [for]="doubleStartDateDatepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #doubleStartDateDatepickerRef></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="fury-filter-holder" fxFlex>
          <input (dateChange)="emitEventObject()" class="fury-filter-input" (click)="doubleEndDateDatepickerRef.open()"
            (focus)="doubleEndDateDatepickerRef.open()" [matDatepicker]="doubleEndDateDatepickerRef" matInput readonly required #filter2
            placeholder="{{ 'EndDate' | localize }}">
          <mat-datepicker-toggle [for]="doubleEndDateDatepickerRef" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #doubleEndDateDatepickerRef></mat-datepicker>
        </mat-form-field>
        
      </div>
    </div>

    <button class="fury-column-filter" type="button" mat-icon-button [matMenuTriggerFor]="columnFilter">
      <mat-icon>filter_list</mat-icon>
    </button>
    <ng-content select=".actions"></ng-content>
  </div>

  <mat-menu #columnFilter="matMenu" yPosition="below" xPosition="before">
    <button class="checkbox-item mat-menu-item" *ngFor="let column of columns"
            (click)="toggleColumnVisibility(column, $event)">
      <mat-checkbox [(ngModel)]="column.visible" class="checkbox" #checkbox (click)="$event.stopPropagation()">
        {{ column.name }}
      </mat-checkbox>
    </button>
  </mat-menu>

  <ng-content></ng-content>
</div>
