<div mat-dialog-title>{{ "ResetPassword" | localize }}</div>

<form autocomplete="off" #resetPasswordModal="ngForm" (ngSubmit)="resetPassword()">
  <mat-dialog-content class="padding">

    <div fxLayout="row" fxLayout.gt-sm="column" fxLayoutGap.gt-sm="24px">

      <mat-form-field>
        <mat-label>{{ "AdminPassword" | localize }}</mat-label>
        <input matInput id="adminPassword" type="password" [(ngModel)]="resetPasswordDto.adminPassword"
          name="AdminPassword" required />
        <mat-hint>1. {{ "EnterAdminPassword" | localize }}</mat-hint>
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayoutGap.gt-sm="24px">

      <mat-form-field>
        <input matInput id="newPassword" readonly [ngModel]="resetPasswordDto.newPassword" type="text"
          name="NewPassword" />
        <mat-hint>2. {{ "CopyThisPassword" | localize }}</mat-hint>
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button type="button" [disabled]="isLoading" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary"
      [disabled]="!resetPasswordModal.form.valid || isLoading">
      {{ "Save" | localize }}
    </button>
  </mat-dialog-actions>
</form>