<pagination-template #p="paginationApi" [id]="id" [maxSize]="maxSize" (pageChange)="pageChange.emit($event)">
    <nav style="margin-left: 10px;">
        <ul class="pagination" role="navigation" *ngIf="!(autoHide && p.pages.length <= 1)">

            <li [class.disabled]="p.isFirstPage()" *ngIf="directionLinks" class="page-item">
                <a class="page-link" *ngIf="!p.isFirstPage()" (click)="p.previous()" style=" padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  height: 34px;
  padding-top: 5px;
  width: 37px;
   padding-left: 5px;">
                    <i class="material-icons">chevron_left</i>
                </a>
                <a class="page-link" *ngIf="p.isFirstPage()" style="padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  height: 34px;
  padding-top: 5px;
  width: 37px;
   padding-left: 5px;">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>

            <li class="page-item" [class.active]="p.getCurrent() === page.value" *ngFor="let page of p.pages">
                <a (click)="p.setCurrent(page.value)" class="page-link">{{ page.label }}</a>
            </li>

            <li [class.disabled]="p.isLastPage()" *ngIf="directionLinks" class="page-item">
                <a class="page-link" *ngIf="!p.isLastPage()" (click)="p.next()" style=" padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 34px;
  padding-top: 5px;
  width: 37px;
  padding-left: 5px;">
                    <i class="material-icons">chevron_right</i>
                </a>
                <a class="page-link" *ngIf="p.isLastPage()" style=" padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 34px;
  padding-top: 5px;
    width: 37px;
  padding-left: 5px;">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </nav>

</pagination-template>