<mat-dialog-content>

    <div class="row" style="text-align: center; display: block;">
        <img src="../../../../assets/icons/info-icon.png" height="100px" width="100px">
    </div>

    <div class="row" style="margin-top: 15px; margin-bottom: 50px;">

        <div class="col-md-12" style="text-align: center;">
            <p style="font-size: 30px; font-weight: 500; color: #595959;">{{ title }}</p>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <p style="font-size: 18px; font-weight: 300; color: #545454;">{{ subTitle }}</p>
        </div>

    </div>


</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12" style="padding-left: 220px;">
            <button type="button" mat-raised-button color="warn" (click)="confirm()">{{ "Yes" | localize }}</button>
            <button type="button" mat-raised-button color="accent" (click)="cancel()">{{ "Cancel" | localize }}</button>
        </div>
    </div>

</mat-dialog-actions>