<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
      current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list name="{{ 'Users' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
      <div class="actions">
        <button class="create" (click)="createUser()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="actions">
        <button type="button" mat-mini-fab color="primary" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <table [dataSource]="dataSource" mat-table matSort [busy]="isTableLoading">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <!-- <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
          </td>
        </ng-container> -->

        <!-- All properties Column -->
        <ng-container *ngFor="let column of columns">
          <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }} </th>
            <td *matCellDef="let row" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ "Active" | localize }}</th>
          <td *matCellDef="let row" mat-cell>
            <i class="material-icons check_box" *ngIf="row.isActive">
              check_box
            </i>
            <i class="material-icons indeterminate_check_box" *ngIf="!row.isActive">
              indeterminate_check_box
            </i>
          </td>
        </ng-container>


        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="actions-cell" mat-cell>
            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
              <button (click)="updateUser(row)" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>{{ 'Modify' | localize }}</span>
              </button>
              <button (click)="delete(row)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | localize }}</span>
              </button>
              <button (click)="resetPassword(row)" mat-menu-item>
                <mat-icon>lock</mat-icon>
                <span>{{ 'ResetPassword' | localize }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (dblclick)="updateUser(row)" *matRowDef="let row; columns: visibleColumns;"
          class="clickable route-animations-elements" mat-row></tr>
      </table>

      <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>

    </fury-list>

  </fury-page-layout-content>
</fury-page-layout>