<div class="background-pattern page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo fill-primary-contrast">
        <svg viewBox="0 0 33.74 33.99" xmlns="http://www.w3.org/2000/svg">
          <title>icon</title>
          <path
            d="M26.83,19.33c-.36.37-.73.71-1.09,1l.31,3.22a5.41,5.41,0,0,1-2.43,5.14L15.72,34l-.67-8.74a6.54,6.54,0,0,1-6.57-6.53L0,18.18l5-7.93a5.41,5.41,0,0,1,5.23-2.54l3.1.31q.49-.55,1.05-1.11C20.78.54,30.82-.62,33.48.26,34.37,2.93,33.2,13,26.83,19.33Zm-.45-12a3.77,3.77,0,1,0,0,5.33A3.77,3.77,0,0,0,26.38,7.36ZM2.82,23.72l3.24-3.24a8.24,8.24,0,0,0,7.11,7.1L10.5,30.25,7.74,33V29.46L2.41,31.23l1.78-5.32H.64Z">
          </path>
        </svg>
      </div>
    </div>
    <form (ngSubmit)="send()" [formGroup]="form">
      <div class="padding" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" name="name" [(ngModel)]="model.name" [placeholder]="'Name'" required maxlength="32">
            <mat-error *ngIf="form.get('name').hasError('required')">Please enter your Name</mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="grow">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" name="surname" [(ngModel)]="model.surname" [placeholder]="'Surname'" required
              maxlength="32" />
            <mat-error *ngIf="form.get('surname').hasError('required')">Please enter your Surname</mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="grow">
            <mat-label>E-Mail</mat-label>
            <input matInput required formControlName="email" name="email" type="email" [(ngModel)]="model.emailAddress"
              [placeholder]="'EmailAddress' " required maxlength="255"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$">
            <mat-error *ngIf="form.get('email').hasError('required')">Please enter your E-mail</mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="grow">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username" name="username" [(ngModel)]="model.userName" [placeholder]="'UserName'" required
              maxlength="32" />
            <mat-error *ngIf="form.get('username').hasError('required')">Please enter your Username</mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="grow">
            <mat-label>Password</mat-label>
            <input matInput [type]="inputType" formControlName="password" name="password" [(ngModel)]="model.password"
              [placeholder]="'Password' " type="password" maxlength="32" required>
            <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
              <mat-icon *ngIf="visible">visibility</mat-icon>
              <mat-icon *ngIf="!visible">visibility_off</mat-icon>
            </button>
            <mat-hint>Click the eye to toggle visibility</mat-hint>
            <mat-error *ngIf="form.get('password').hasError('required')">Please enter a password</mat-error>
          </mat-form-field>
    
          <!-- <mat-form-field fxFlex="grow">
              <mat-label>Password (Confirm)</mat-label>
              <input matInput [type]="inputType" formControlName="passwordConfirm" name="passwordConfirm" required>
              <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
                <mat-icon *ngIf="visible">visibility</mat-icon>
                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
              </button>
              <mat-hint>Please repeat your password from above</mat-hint>
            </mat-form-field> -->
        </div>
    
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
            <mat-checkbox class="caption">I accept the <a href="#">terms and conditions.</a></mat-checkbox>
          </div> -->
        <button color="primary" mat-raised-button type="submit">
          CREATE ACCOUNT
        </button>
        <p class="secondary-text text-center">
          Already have an account?<br />
          <a [routerLink]="['/login']">Sign in here</a>
        </p>
      </div>
    </form>
  </div>
</div>