<div class="row">
    <div class="col-lg-5">
        <mat-form-field fxFlex="100%">
            <mat-label>Пребарај</mat-label>
            <input matInput type="text" [(ngModel)]="searchTerm" name="searchText">
        </mat-form-field>
    </div>

</div>
<div class="row">
    <div class="col-lg-5">
        <mat-card>

            <div style="overflow-y:scroll;">
                <div style="height: 200px;">
                    <div class="col-lg-12" *ngFor="let item of data | filter: searchTerm"
                        [ngStyle]="{'display': alreadyAdded(item)}"
                        style="border: 1px solidl lightgray; padding-bottom: 7px;padding-top: 7px; border-radius: 7px; cursor: pointer;">
                        <mat-checkbox color="primary" [(ngModel)]="item.selected">
                            {{item.displayName}}</mat-checkbox>
                        <!-- <p style="margin-bottom: 0px;">
                            {{item.displayName}}</p> -->
                    </div>
                </div>
            </div>


        </mat-card>
    </div>
    <div class="col-lg-1" style="padding-top: 40px; padding-left: 20px;">
        <button mat-icon-button class="mat-icon-button" (click)="addAll()" style="display: block;"
            matTooltip="Додади сите">
            <mat-icon>
                fast_forward
            </mat-icon>
        </button>
        <button mat-icon-button class="mat-icon-button" (click)="add()" style="display: block;"
            matTooltip="Додади селектирани">
            <mat-icon>
                chevron_right
            </mat-icon>
        </button>
        <button mat-icon-button class="mat-icon-button" (click)="remove()" style="display: block;"
            matTooltip="Избриши селектирани">
            <mat-icon>
                chevron_left
            </mat-icon>
        </button>
        <button mat-icon-button class="mat-icon-button" (click)="removeAll()" style="display: block;"
            matTooltip="Избриши сите">
            <mat-icon>
                fast_rewind
            </mat-icon>
        </button>
    </div>
    <div class="col-lg-5">
        <mat-card>

            <div style="overflow-y:scroll;">
                <div style="height: 200px;">

                    <div class="col-lg-12" *ngFor="let item of selectedItems"
                        style="border: 1px solidl lightgray; padding-bottom: 7px;padding-top: 7px; border-radius: 7px; cursor: pointer;">

                        <mat-checkbox color="primary" [(ngModel)]="item.selected">
                            {{item.displayName}}</mat-checkbox>

                        <!-- <mat-label>
                            {{item.displayName}}


                        </mat-label> -->
                        <!-- <mat-icon *ngIf="item.selected">check</mat-icon> -->

                    </div>



                </div>
            </div>

        </mat-card>
    </div>
</div>


<style>
    .active {
        background-color: #1976d2;
        color: white;
    }
</style>