<div class="toolbar-user" (furyClickOutside)="onClickOutside()" fxFlex="grow">
  <button class="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" fxFlex="grow">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" src="assets/img/avatars/noavatar.png">
      <span class="name" fxHide fxShow.gt-sm>{{_sessionService.user.name}}</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>

  <div class="dropdown" [class.open]="isOpen">
    <div class="content">
      <div class="list">
        <div class="list-item" matRipple [routerLink]="['/profile']">
          <mat-icon class="list-item-icon">account_circle</mat-icon>
          <span>&nbsp;{{ "Profile" | localize }}</span>
        </div>
        <div class="list-item" matRipple (click)="openConfig.emit()">
          <mat-icon class="list-item-icon">settings</mat-icon>
          <span>&nbsp;{{ "Settings" | localize }}</span>
        </div>
        <div class="list-item" matRipple>
          <mat-icon class="list-item-icon">help</mat-icon>
          <span>&nbsp;{{ "Help" | localize }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item" matRipple (click)="logout.emit()">
          <mat-icon class="list-item-icon">exit_to_app</mat-icon>
          <span>&nbsp;{{ "Logout" | localize }}</span>
        </div>
      </div>
    </div>
  </div>
</div>