<form autocomplete="off">
    <div class="box box-primary">
        <div class="box-header" style="background-color: #f5f5f5; height: 65px;">
            <!-- <h6 class="box-title col-xs-12 col-lg-4 col-md-5"> -->
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-lg-9" style="height: 55px; margin-top: 7px;">
                    <mat-form-field fxFlex="120px">
                        <mat-label>Прикажи</mat-label>
                        <mat-select [(ngModel)]="itemsPerPage" (ngModelChange)="getData()" name="itemsPerPage">
                            <mat-option [value]="item" *ngFor="let item of pageNumbers">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-label
                        style="margin-left: 10px; padding-top: 10px; font: 400 16px/20px Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; margin-top: 5px;">
                        Резултати
                    </mat-label>

                </div>

                <!-- </h6> -->


                <div class="col-lg-3" style="margin-top: 10px; text-align: right; padding-right: 25px;">

                    <!-- <div style="width:200px;float:left;padding-right:20px; margin-right: 10px;" class="input-group"
                    *ngIf="tableProperties.customSearch">

                    <mat-form-field fxFlex="auto">
                        <mat-label>Пребарај</mat-label>
                        <input name="table_search" matInput [(ngModel)]="search"
                            (keyup)="($event.which === 13)?getData():false">
                    </mat-form-field>

                </div> -->

                    <span *ngIf="tableProperties.hasActiveFilter == true">

                        <mat-checkbox id="showInactive" name="showInactive" [(ngModel)]="showInactive" color="primary"
                            (ngModelChange)="activeFilterChanged(showInactive)"></mat-checkbox>
                        <mat-label>&nbsp; Покажи неактивни</mat-label>
                    </span>

                    <button mat-icon-button class="mar-icon-button" name="refresh" type="button"
                        [disabled]="reloadDisabled()" (click)="getData()" matTooltip="Освежи">
                        <mat-icon>refresh</mat-icon>
                    </button>



                    <button *ngIf="tableProperties.customColumns == true" class="fury-column-filter" type="button"
                        mat-icon-button [matMenuTriggerFor]="columnFilter" matTooltip="Избери колони">
                        <mat-icon>filter_list</mat-icon>
                    </button>
                    <ng-content select=".actions"></ng-content>

                    <mat-menu #columnFilter="matMenu" yPosition="below" xPosition="before">

                        <div *ngFor="let column of columns"
                            style="padding-left: 15px; padding-right: 15px; padding-bottom: 10px;">
                            <mat-checkbox [(ngModel)]="column.visible" class="checkbox" #checkbox
                                (click)="toggleColumnVisibility(column, $event)" name="{{column.heading}}"
                                color="primary">
                                {{column.heading}}
                            </mat-checkbox>
                        </div>

                    </mat-menu>

                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class=" col-md-12">

                    <table data-toggle="table" data-show-header="false"
                        *ngIf="data?.length > 0 || tableProperties.customSearch"
                        class="table table-hover table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th *ngFor="let col of columns"
                                    style="vertical-align: top; height: 40px !important; padding-top: 10px; padding-bottom: 30px;"
                                    [ngStyle]="{'display': col.visible == true ? 'table-cell' : 'none'}">
                                    <!-- <div *ngIf="col.visible == true"> -->


                                    <!-- <p (click)=" sortOrder(col.orderBy || col.value, (col.orderBy ||
                                        col.value)+' desc', col.disableOrder, $event)" *ngIf="!col.notSearchable">
                                        {{ col.heading  }}
                                    </p>
                                    <p *ngIf="col.notSearchable">
                                        {{ col.heading  }}
                                    </p> -->

                                    <p *ngIf="!tableProperties.customSearch">
                                        <b>{{ col.heading }}</b>
                                    </p>


                                    <div class="customTableSearch" *ngIf="tableProperties.customSearch">

                                        <!-- za obicen text box -->
                                        <div class="input-group form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'text'">

                                            <mat-form-field fxFlex="auto">
                                                <mat-label>{{ col.heading }}</mat-label>
                                                <input name="table_search" matInput type="text"
                                                    [(ngModel)]="customSearchProps[col.value]"
                                                    (keyup)="($event.which === 13)?getData():false">
                                            </mat-form-field>
                                        </div>

                                        <!-- za broj -->
                                        <div class="input-group form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'number'">

                                            <mat-form-field fxFlex="auto">
                                                <mat-label>{{ col.heading }}</mat-label>
                                                <input name="table_search" matInput type="number"
                                                    [(ngModel)]="customSearchProps[col.value]"
                                                    (keyup)="($event.which === 13)?getData():false">
                                            </mat-form-field>

                                        </div>


                                        <!-- за сервис -->
                                        <div class="form-group" *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' && col.customSearch.dataType == 'select' &&
                                                col.customSearch.service">


                                            <!-- <fury-autocomplete fadeInUpStaggerElement></fury-autocomplete> -->



                                            <!-- <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                                                            <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                                                            <span>{{state.name}}</span>                                                            
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field> -->






                                            <!-- <select [propName]="col.value" class="select2-ajax" name="ajaxSelect"
                                                    [ajax-options]="col.customSearch.service"
                                                    [ngModel]="customSearchProps[col.value]" (ngModelChange)="getData()"
                                                    (emmitedItem)="getEmmittedResult($event)" style="width:150px;">
                                                </select> -->

                                        </div>



                                        <!-- за obicen dropdown -->
                                        <div class="form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'select' && col.customSearch.options">

                                            <mat-form-field fxFlex="auto">
                                                <mat-label>{{ col.heading }}</mat-label>
                                                <mat-select
                                                    [(ngModel)]="customSearchProps[col.customSearch.field || col.value]"
                                                    (ngModelChange)="getData()">
                                                    <mat-option value="">-</mat-option>
                                                    <mat-option *ngFor="let option of col.customSearch.options"
                                                        [value]="option.id">{{option.displayName}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>

                                        <!-- за пол -->
                                        <div class="form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'selectgender'">

                                            <mat-form-field fxFlex="auto">
                                                <mat-label>{{ col.heading }}</mat-label>
                                                <mat-select [(ngModel)]="customSearchProps[col.value]"
                                                    name="selectGender" id="selectGender" (ngModelChange)="getData()">
                                                    <mat-option *ngIf="col.emptyOption" value="">-</mat-option>
                                                    <mat-option value="true">М</mat-option>
                                                    <mat-option value="false">Ж</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>

                                        <!-- за да или не -->
                                        <div class="form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'boolean'">


                                            <mat-form-field fxFlex="auto">
                                                <mat-label>{{ col.heading }}</mat-label>
                                                <mat-select [(ngModel)]="customSearchProps[col.value]" name="boolean"
                                                    id="boolean" (ngModelChange)="getData()">
                                                    <mat-option *ngIf="col.emptyOption" value="">-</mat-option>
                                                    <mat-option value="true">Да</mat-option>
                                                    <mat-option value="false">Не</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>


                                        <!-- za datepicker -->
                                        <div id="datepick" class="input-group date form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'date'">

                                            <mat-form-field fxFlex="auto">
                                                <mat-label>{{ col.heading }}</mat-label>
                                                <input name="datepicker" matInput [matDatepicker]="picker"
                                                    (keyup)="($event.which === 13)?getData():false"
                                                    [(ngModel)]="customSearchProps[col.value]"
                                                    (ngModelChange)="getData()" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>

                                        </div>

                                        <div class="input-group date form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'single' &&  col.customSearch.dataType == 'actions'">


                                        </div>

                                        <div class="input-group date form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'singleNoPicker' &&  col.customSearch.dataType == 'date'">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" mask="dd.mm.yyyy"
                                                name="singleNoPicker"
                                                [(ngModel)]="customSearchProps[col.customSearch.field || col.value]"
                                                (keyup)="($event.which === 13)?getData():false">
                                        </div>


                                        <div class="form-group "
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'range' &&  col.customSearch.dataType == 'number'">
                                            <div class="col-md-3" style="padding:0px !important">
                                                <input type="number" name="table_search_range_from"
                                                    class="form-control input-sm " placeholder="Од"
                                                    [(ngModel)]="customSearchProps[col.value]"
                                                    (keyup)="($event.which === 13)?getData():false">
                                            </div>
                                            <div class="col-md-3" style="padding:0px !important">
                                                <input type="number" name="table_search_range_to"
                                                    class="form-control input-sm " placeholder="До"
                                                    [(ngModel)]="customSearchProps[col.value]"
                                                    (keyup)="($event.which === 13)?getData():false">
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>




                                        <div class="form-group"
                                            *ngIf="col.customSearch.show && col.customSearch.dataField == 'range' &&  col.customSearch.dataType == 'date'">
                                            <div class="col-md-6" style="padding:0px !important">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" name="dataRange" class="form-control pull-right"
                                                        id="datepicker" date-picker format="dd.mm.yyyy"
                                                        mask="dd.mm.yyyy" start-date=""
                                                        [(ngModel)]="customSearchProps[col.value]" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding:0px !important">
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" name="dataRange1" class="form-control pull-right"
                                                        id="datepicker" date-picker format="dd.mm.yyyy"
                                                        mask="dd.mm.yyyy" start-date=""
                                                        [(ngModel)]="customSearchProps[col.value]" required>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of (data  | paginate
                                        : {
                                            id: 'server',
                                            itemsPerPage: itemsPerPage,
                                            currentPage: pageNumber,
                                            totalItems: totalItems
                                            }); let i = index" class="active"
                                [ngClass]="{'active': selectedItem == item, 'danger':tableProperties.rowDangerColorBy && item[tableProperties.rowDangerColorBy] == tableProperties.rowDangerColorValue, 'info':tableProperties.rowInfoColorBy && item[tableProperties.rowInfoColorBy] == tableProperties.rowInfoColorValue, 'success':tableProperties.rowSuccessColorBy && item[tableProperties.rowSuccessColorBy] == tableProperties.rowSuccessColorValue}"
                                (click)="selectItem(item, i)" (dblclick)="doubleClickFn(item)">

                                <td *ngFor="let col of columns" width="{{col.width}}"
                                    [ngStyle]="{'display': col.visible == true ? 'table-cell' : 'none'}">
                                    <span *ngIf="col.visible == true">
                                        <span *ngIf="!col.render && !col.type">
                                            {{ !col.isBool ? resolve(col.value, item) : ((col.override != undefined && col.override != null) ? col.override[resolve(col.value, item)?1:0] : (resolve(col.value, item) ? L("Да") : L("Не")))}}
                                        </span>
                                        <span *ngIf="col.render && !col.type" ng-bind-html="col.render(item)">

                                        </span>

                                        <span style="margin: auto; display: block; width: fit-content;"
                                            *ngIf="col.type === 'button'" matTooltip="{{col.message}}">
                                            <button type="button" class="btn btn-default btn-xs"
                                                [ngClass]="{'btn-success': col.withColors && col.value == true, 'btn-warning': col.withColors && !col.value}"
                                                (click)="customTableBtnClicked(col)"
                                                [innerHtml]="col.title || col.heading"
                                                [disabled]="col.toggleDisableColumn && !item[col.toggleDisableColumn]"></button>
                                        </span>

                                        <span style="margin: auto; display: block; width: fit-content;"
                                            *ngIf="col.type === 'checkBox'">

                                            <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="checkBoxChanged()"
                                                [disabled]="col.toggleDisableColumn && !item[col.toggleDisableColumn]">
                                            </mat-checkbox>

                                        </span>

                                        <span *ngIf="col.customSearch.dataType == 'actions'">

                                            <button class="action-button" mat-icon-button
                                                [matMenuTriggerFor]="actionsMenu">
                                                <mat-icon>menu</mat-icon>
                                            </button>
                                            <mat-menu #actionsMenu="matMenu">
                                                <button mat-menu-item (click)="edit(item)">
                                                    <mat-icon>edit</mat-icon>
                                                    <span>{{ "Edit"  }}</span>
                                                </button>
                                                <button mat-menu-item (click)="delete(item)">
                                                    <mat-icon>delete</mat-icon>
                                                    <span>{{ "Delete"  }}</span>
                                                </button>
                                            </mat-menu>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="data?.length < 1">
                                <td [attr.colspan]="columns.length">{{"Нема резултати!" }}</td>
                            </tr>
                        </tbody>
                    </table>


                    <table *ngIf="data?.length < 1 && !tableProperties.customSearch"
                        class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th *ngFor="let col of columns" style="vertical-align: top;">
                                    {{ col.heading }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="data?.length < 1">
                                <td [attr.colspan]="columns.length">{{"Нема резултати!" }}
                                </td>

                            </tr>
                        </tbody>
                    </table>


                    <div class="row customPagination">
                        <div class="col-sm-7">

                            <div *ngIf="totalItems > itemsPerPage">

                                <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                                </abp-pagination-controls>
                            </div>

                        </div>
                        <div class="col-sm-5" style="text-align: right">
                            <div class="m-t-20" *ngIf="data?.length > 0">
                                <h4>Записи: &nbsp; <b>{{selectedItemSequenceNumber | number:0}} /
                                        {{totalCount | number:0}}</b>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <!-- </div> -->

                </div>
            </div>
        </div>
    </div>
</form>
<style>
    .active {
        background-color: #f5f5f5;
    }

    table.dataTable thead>tr>th {
        padding-right: 8px !important;
    }

    table.dataTable thead>tr>th>p {
        padding-right: 30px !important;
    }
</style>