table tr {
  height: 40px !important;
  vertical-align: middle !important;
}

table th {
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom-width: 2px;
}

table th div {
  height: 40px;
}

table tr td {
  padding-top: 12px;
  padding-bottom: 7px;
  font-size: 12px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

::ng-deep .mat-form-field {
  //   .mat-input-element {
  //     color: slategray;
  //   }
  //   .mat-form-field-label {
  //     color: slategray;
  //   }
  //   .mat-form-field-underline {
  //     background-color: slategray;
  //   }
  //   .mat-form-field-ripple {
  //     background-color: slategray;
  //   }
  //   .mat-form-field-required-marker {
  //     color: slategray;
  //   }

  .mat-form-field-infix {
    padding-bottom: 7px;
  }

  .mat-form-field-wrapper {
    .mat-form-field-flex {
      height: 40px;
      padding-top: 5px;
      font-size: 14px;
      // border-radius: 0px;
    }
  }
}

.customPagination nav ul li a {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 34px;
  padding-top: 5px;
}
