<fury-page-layout mode="card">
    <fury-page-layout-header>
        <!-- <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
            current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs> -->
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="{{ 'PAYMENTS' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
            <div class="actions">
                <button type="button" mat-mini-fab color="primary" (click)="getData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


                <ng-container matColumnDef="invoiceNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="invoiceDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE DATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
                </ng-container>

                <ng-container matColumnDef="invoiceCustomer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CUSTOMER </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceCustomer}} </td>
                </ng-container>

                <ng-container matColumnDef="invoiceTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceTotal}} </td>
                </ng-container>

                <ng-container matColumnDef="paid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PAID </th>
                    <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BALANCE </th>
                    <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACTIONS </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button color="warn" (click)="addPayment(element)"
                            matTooltip="Add / View payments">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>


                </ng-container>

                <ng-container matColumnDef="isPaid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
                    <td mat-cell *matCellDef="let element"> {{element.isPaid}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (dblclick)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>