<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] patientDetails="adasd" current="{{ 'Profile' | localize }}"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-card>
      <fury-card-header>
        <fury-card-header-heading>{{ "UpdatePassword" | localize }}</fury-card-header-heading>
      </fury-card-header>

      <fury-card-content>

        <form novalidate (ngSubmit)="updatePassword(parentFormGroup.value)">

          <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="parentFormGroup">

            <div fxLayout="row" fxLayout.gt-sm="column">
              <mat-form-field fxFlex>
                <mat-label>{{ "CurrentPassword" | localize }}</mat-label>
                <input matInput id="currentPassword" type="password" name="CurrentPassword"
                  formControlName="currentPassword" required minlength="2" maxlength="32" />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.gt-sm="column" [formGroup]="passwordsFormGroup" formGroupName="passwords">
              <mat-form-field fxFlex>
                <mat-label>{{ "NewPassword" | localize }}</mat-label>
                <input matInput id="newPassword" formControlName="newPassword" type="password" name="NewPassword"
                  required minlength="2" maxlength="32" />
                <mat-error *ngIf="passwordsFormGroup.controls.newPassword.errors">
                  Passwords must be at least 8 characters, contain a lowercase, uppercase, and number
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.gt-sm="column" formGroupName="passwords">
              <mat-form-field fxFlex>
                <mat-label>{{ "ConfirmNewPassword" | localize }}</mat-label>
                <input matInput id="repeatNewPassword" formControlName="repeatNewPassword" type="password"
                  name="RepeatNewPassword" [errorStateMatcher]="equalMatcher" required minlength="2" maxlength="32" />
                <mat-error *ngIf="passwordsFormGroup.errors &&
                                                    passwordsFormGroup.errors.areEqual &&
                                                    passwordsFormGroup.controls.newPassword.touched
                                                    ">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>

            <button type="submit" color="primary" mat-raised-button [disabled]="!parentFormGroup.valid || isLoading">
              {{ "Save" | localize }}
              <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i>
            </button>

          </div>
        </form>

      </fury-card-content>
    </fury-card>
  </fury-page-layout-content>

</fury-page-layout>