<fury-page-layout mode="card">
    <fury-page-layout-header>
        <!-- <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
            current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs> -->
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="{{ 'INVOICES' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
            <div class="actions">
                <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="actions">
                <button type="button" mat-mini-fab color="primary" (click)="getData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="invoiceNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="invoiceDateFormatted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE DATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceDateFormatted}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CUSTOMER </th>
                    <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="totalVatAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL VAT AMOUNT </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalVatAmount}} </td>
                </ng-container>

                <ng-container matColumnDef="subTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SUB TOTAL </th>
                    <td mat-cell *matCellDef="let element"> {{element.subTotal}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DISCOUNT </th>
                    <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACTIONS </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button color="warn" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="print(element)">
                            <mat-icon>print</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="addPayment(element)"
                            matTooltip="Add / View payments">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>


                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (dblclick)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>