<div class="languageswitch" (furyClickOutside)="onClickOutside()" fxFlex="grow">
  <button class="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" fxFlex="grow">
    <span fxLayout="row" fxLayoutAlign="start center">
      <div>
        <i class="{{currentLanguage.icon}}" title="{{currentLanguage.displayName}}"></i>
        {{currentLanguage.displayName}}
      </div>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>

  <div class="dropdown" [class.open]="isOpen">
    <div class="content">
      <div class="list">

        <div *ngFor="let language of languages" (click)="changeLanguage(language.name)">
          <div class="list-item" matRipple *ngIf="language.name != currentLanguage.name">
            <a><i class="{{language.icon}}"></i> {{language.displayName}}</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>