@import "var";

.languageswitch {
  position: relative;
  display: flex;

  .button {
    min-width: $toolbar-button-width;
    min-height: 52px;
    border-radius: 0;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .name {
      margin: 0 8px 0 10px;
    }

    .icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      transform: rotate(0);
      transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &.open {
      background: rgba(0, 0, 0, 0.05);

      .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 52px;
    right: 0;
    width: 100%;
    min-width: 160px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s cubic-bezier(0.25, 0, 0.25, 0),
      opacity 0.2s cubic-bezier(0.25, 0, 0.25, 0);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .list {
      // padding-top: $spacing/3;

      .list-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        height: 48px;
        padding: 0 $spacing/1.5;
        position: relative;
        cursor: pointer;
        outline: none;

        .list-item-icon {
          padding-right: $spacing/1.5;
        }
      }
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}
