<div mat-dialog-title>User</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <mat-tab-group>
      <mat-tab [label]="'User Details'" style="padding:5px">
                
          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          
            <mat-form-field fxFlex>
              <mat-label>User name</mat-label>
              <input type="text" formControlName="userName" matInput [(ngModel)]='user.userName'>
            </mat-form-field>

            <mat-form-field fxFlex>
              <mat-label>Email address</mat-label>
              <input type="text" formControlName="emailAddress" matInput [(ngModel)]='user.emailAddress'>
            </mat-form-field>

          </div>

          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            
              <mat-form-field fxFlex>
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" matInput [(ngModel)]='user.name'>
              </mat-form-field>

              <mat-form-field fxFlex>
                <mat-label>Surname</mat-label>
                <input type="text" formControlName="surname" matInput [(ngModel)]='user.surname'>
              </mat-form-field>

          </div>

          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="isCreateMode()">
            
            <mat-form-field fxFlex>
              <mat-label>Password</mat-label>
              <input [type]="inputType" matInput formControlName="password" required [(ngModel)]='user.password'>
              <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
                <mat-icon *ngIf="visible">visibility</mat-icon>
                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
              </button>
              <mat-hint>Try clicking the eye to toggle the visibility.</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex>
              <mat-label>Confirm Password</mat-label>
              <input [type]="inputType" matInput formControlName="confirmPassword" required [(ngModel)]='user.confirmPassword'>
              <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
                <mat-icon *ngIf="visible">visibility</mat-icon>
                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
              </button>
              <mat-hint>Try clicking the eye to toggle the visibility.</mat-hint>
            </mat-form-field>

          </div>

          <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-checkbox class="caption" formControlName="isActive" [(ngModel)]="user.isActive">
              Is active
            </mat-checkbox>
          </div>

      </mat-tab>
      <mat-tab [label]="'User roles'">

        <div class="row-fluid">
          <ng-template ngFor let-role [ngForOf]="roles">
            <div class="col-md-6">
              <div class="checkbox-wrapper">
                <mat-checkbox
                  [checked]="isRoleChecked(role.normalizedName)"
                  (change)="onRoleChange(role, $event)">
                  {{ role.name }}
                </mat-checkbox>
              </div>
            </div>
          </ng-template>
        </div>
    
      </mat-tab>
    </mat-tab-group>

    
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE USER</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE USER</button>
  </mat-dialog-actions>
</form>
