<div class="row" style="width: 100%;">
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>PAYMENT DATE</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="model.paymentDate" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>AMOUNT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="model.amount" autocomplete="off">
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">
            <mat-icon aria-hidden="false">check</mat-icon>
            SAVE PAYMENT
        </button>
    </div>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-bottom: 15px;">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="paymentDateFormatted">
        <th mat-header-cell *matHeaderCellDef> Payment Date </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentDateFormatted}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACTIONS </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
            <button mat-icon-button color="warn" (click)="delete(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>


    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>


<div class="row" style="width: 100%;">
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE TOTAL</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="invoice.total" readonly>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>AMOUNT PAID</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="amountPaid" readonly>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>AMOUNT DUE</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="amountDue" readonly>
        </mat-form-field>
    </div>
</div>