<div *ngIf="showMenuItem() && anySubMenu()" class="navigation-item-container">
  <a (click)="handleClick.emit(item)" class="navigation-item"
     fxLayout="row"
     fxLayoutAlign="start center"
     matRipple
     routerLinkActive="active">
    <mat-icon class="icon">{{ item.icon }}</mat-icon>
    <span class="name">{{ item.name }}</span>
    <mat-icon *ngIf="item.subItems && item.subItems.length > 0"
      class="expand-indicator">
      expand_more
    </mat-icon>
  </a>
</div>