<div class="row">
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE NUM.</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.invoiceNumber">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>SUPPLIER</mat-label>
            <mat-select [(ngModel)]="model.supplierId">
                <mat-option *ngFor="let item of customers" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>TYPE</mat-label>
            <mat-select [(ngModel)]="model.description" (selectionChange)="typeChange($event.value)">
                <mat-option value="items" selected>{{"Items"}}</mat-option>
                <mat-option value="assets">{{"Assets"}}</mat-option>
                <mat-option value="services">{{"Services"}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3">

        <!-- <custom-autocomplete [searchService]="foreignCurrencySearch" [title]="l('ForeignCurrencyPrefix')"
            [required]="false" [selectedValue]="model.vatCategoryId" [getDisplayFn]="foreignCurrencyDisplayFn"
            (onSelected)="onSelectedForeignCurrencyPrefix($event)">
        </custom-autocomplete> -->
        <!-- <mat-form-field fxFlex='auto' (contextmenu)="onContextMenu($event, 'DestinationCountry')">
            <mat-label>{{l('DestinationCountry')}}</mat-label>
            <input name="destinationCountry" #destinationCountry="ngModel" [matAutocomplete]="destCountryAuto"
                (ngModelChange)="filterDestinationCountries($event)" matInput type="text"
                [(ngModel)]="model.destinationCountry">
        </mat-form-field>
        <mat-autocomplete #destCountryAuto="matAutocomplete">
            <mat-option *ngFor="let item of destinationCountries" [value]="item"
                (onSelectionChange)="onDestinationCountrySelectionChange($event, item)">
                {{item}}
            </mat-option>
        </mat-autocomplete> -->

        <!-- <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>VAT CATEGORY</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
                    [(ngModel)]="model.vatCategoryId">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form> -->




        <mat-form-field fxFlex="100%" (contextmenu)="onContextMenu($event, vatCategoryMaterKeyId)">
            <mat-label>VAT CATEGORY</mat-label>
            <mat-select [(ngModel)]="model.vatCategoryId" (selectionChange)="categoryChange($event.value)">
                <mat-option *ngFor="let item of categoriesForType" [value]="item.id">
                    {{item.value}} {{item.valueNumber}}% - {{item.code}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">

    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>DATE</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="model.date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>PURCHASE DATE</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="model.dateOfPayment">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>TOTAL INCL. VAT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="model.totalInclVat" (ngModelChange)="calculateVAT()">
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>TOTAL EXCL. VAT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="model.totalExclVat"
                (ngModelChange)="calculateInclVatAndVat()">
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>TOTAL VAT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="model.totalVat" readonly>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">SAVE</button>
        <button mat-flat-button color="primary" (click)="close()">CANCEL</button>
    </div>
</div>

<div style="visibility: hidden; position:fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <quick-add (onGoToMasterKeyClicked)="reRouteToMasterKey($event)"
            (onQuickAddClicked)="onQuickAddClicked($event)">
        </quick-add>
    </ng-template>
</mat-menu>