<button mat-menu-item (click)="onQuickAddClicked.emit({masterKeyId: this.masterKeyId, mode: this.quickAddMode})">
    <mat-icon> add </mat-icon>
    <span> Quick Add </span>
</button>

<button mat-menu-item (click)="onGoToMasterKeyClicked.emit({masterKeyId: this.masterKeyId, mode: QUICK_ADD})">
    <mat-icon> exit_to_app </mat-icon>
    <span> Go to Master Key Table </span>
</button>