@import "var";

.containerz {
  height: 100%;
  position: relative;
}

.content-container {
  overflow: hidden;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;

  &.scroll-disabled {
    overflow: hidden;

    .content-inner {
      min-height: 0;
    }
  }
}
