<div class="page background-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo fill-primary-contrast">
        <svg viewBox="0 0 33.74 33.99" xmlns="http://www.w3.org/2000/svg">
          <title>icon</title>
          <path
            d="M26.83,19.33c-.36.37-.73.71-1.09,1l.31,3.22a5.41,5.41,0,0,1-2.43,5.14L15.72,34l-.67-8.74a6.54,6.54,0,0,1-6.57-6.53L0,18.18l5-7.93a5.41,5.41,0,0,1,5.23-2.54l3.1.31q.49-.55,1.05-1.11C20.78.54,30.82-.62,33.48.26,34.37,2.93,33.2,13,26.83,19.33Zm-.45-12a3.77,3.77,0,1,0,0,5.33A3.77,3.77,0,0,0,26.38,7.36ZM2.82,23.72l3.24-3.24a8.24,8.24,0,0,0,7.11,7.1L10.5,30.25,7.74,33V29.46L2.41,31.23l1.78-5.32H.64Z">
          </path>
        </svg>
      </div>
    </div>
    <form (ngSubmit)="send()">
      <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
        <div fxFlex="auto" fxLayout="column">
          <mat-form-field fxFlex="grow">
            <mat-label>E-Mail</mat-label>
            <input matInput [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
              formControlName="userNameOrEmailAddress" name="userNameOrEmailAddress"
              [placeholder]="l('UserNameOrEmail')" autocomplete="off" required maxlength="255">
            <mat-error *ngIf="form.get('userNameOrEmailAddress').hasError('required')">We need an email address to log
              you
              in</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="grow">
            <mat-label>Password</mat-label>
            <input matInput [type]="inputType" [(ngModel)]="loginService.authenticateModel.password" name="password"
              formControlName="password" [placeholder]="'Password'" required maxlength="32">
            <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
              <mat-icon *ngIf="visible">visibility</mat-icon>
              <mat-icon *ngIf="!visible">visibility_off</mat-icon>
            </button>
            <mat-hint>Click the eye to toggle visibility</mat-hint>
            <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-checkbox class="caption" [(ngModel)]="loginService.rememberMe" name="rememberMe"
            formControlName="rememberMe">
            Remember Me
          </mat-checkbox>
          <!-- <a class="caption" [routerLink]="['/forgot-password']">Forgot Password?</a> -->
        </div>
        <button type="submit" color="primary" mat-raised-button>
          SIGN IN
        </button>
        <p class="secondary-text text-center">
          Don't have an account?<br />
          <a [routerLink]="['/register']">Click here to create one</a>
        </p>
      </div>
    </form>
  </div>
</div>