<mat-form-field fxFlex="auto" (contextmenu)="onContextMenu($event, vatCategoryMaterKeyId)">
    <mat-label>{{ title }}</mat-label>

    <input #valueInput='ngModel' name="valueInput" matInput type="text" [value]="selectedValue"
        [matAutocomplete]="keyValueAuto" [(ngModel)]="searchValue"
        (keyup)="($event.which === 13 || $event.which === 8 || ($event.which >= 46 && $event.which <= 111)) ? filterValues() : false">

    <button *ngIf="selectedId" type="button" mat-icon-button (click)="reset()" matSuffix>
        <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="!selectedId" type="button" [disabled]="disabled && !disabledReadonly" mat-icon-button matSuffix>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

</mat-form-field>

<mat-autocomplete #keyValueAuto="matAutocomplete">
    <mat-option [matTooltip]="showTooltip ? getDisplayFn(value) : null" *ngFor="let value of options"
        [value]="getDisplayFn(value)" (onSelectionChange)="onSelectionChange($event, value)">
        {{ getDisplayFn(value) }}
    </mat-option>
</mat-autocomplete>

<div style="visibility: hidden; position:fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <quick-add (onGoToMasterKeyClicked)="reRouteToMasterKey($event)"
            (onQuickAddClicked)="onQuickAddClicked($event)">
        </quick-add>
    </ng-template>
</mat-menu>