<mat-form-field fxFlex>
	<mat-label>{{ properties.title }}</mat-label>


	<input matInput [matAutocomplete]="auto" #filter [formControl]="autocompleteCtrl"
		(keyup)="($event.which === 13 || $event.which === 8 || ($event.which >= 46 && $event.which <= 111)) ? searchEvent() : false"
		[readonly]="readonly" [required]="properties.required" value="">

	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
		<mat-option *ngFor="let item of dataResult" [value]="item.displayName" [id]="item.id">
			<span>{{ item.displayName }}</span>
		</mat-option>
	</mat-autocomplete>


	<button *ngIf="autocompleteCtrl.value" type="button" mat-icon-button (click)="reset()" matSuffix>
		<mat-icon>close</mat-icon>
	</button>
	<button *ngIf="!autocompleteCtrl.value" type="button" mat-icon-button matSuffix>
		<mat-icon>arrow_drop_down</mat-icon>
	</button>
	<mat-hint *ngIf="hint">{{ properties.hint }}</mat-hint>
</mat-form-field>