<div class="row">
    <div class="col-sm-2">
        <mat-form-field fxFlex="100%">
            <mat-label>CODE</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.code">
        </mat-form-field>
    </div>
    <div class="col-sm-10">
        <mat-form-field fxFlex="100%">
            <mat-label>NAME</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.displayName">
        </mat-form-field>
    </div>

</div>


<div class="row">

    <div class="col-sm-6">
        <mat-form-field fxFlex="100%" (contextmenu)="onContextMenu($event, vatCategoryMaterKeyId)">
            <mat-label>VAT CATEGORY</mat-label>
            <mat-select [(ngModel)]="model.vatCategoryId">
                <mat-option *ngFor="let item of vatCategories" [value]="item.id">
                    {{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>UM.</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.um">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>PRICE</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="model.price">
        </mat-form-field>
    </div>

</div>

<div class="row">
    <div class="col-sm-12" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">SAVE</button>
        <button mat-flat-button color="primary" (click)="close()">CANCEL</button>
    </div>
</div>

<div style="visibility: hidden; position:fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <quick-add (onGoToMasterKeyClicked)="reRouteToMasterKey($event)"
            (onQuickAddClicked)="onQuickAddClicked($event)">
        </quick-add>
    </ng-template>
</mat-menu>