<fury-page-layout mode="card">
    <fury-page-layout-header>
        <!-- <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
            current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs> -->
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="{{ 'MASTER KEYS' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
            <div class="actions">
                <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="actions">
                <button type="button" mat-mini-fab color="primary" (click)="getData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CODE </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="displayName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (dblclick)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <mat-paginator [length]="dataSource.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>