<div class="row">
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>NAME</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.name">
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>ADDRESS</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.address">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>CITY</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.city">
        </mat-form-field>
    </div>

</div>


<div class="row">

    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>POST CODE</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.postCode">
        </mat-form-field>
    </div>

    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>TELEPHONE</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.telephone">
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>EMAIL</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.email">
        </mat-form-field>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <mat-form-field fxFlex="100%">
            <mat-label>BANK NAME</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.bankName">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>BANK ACC.</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.bankAccount">
        </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>VAT NUM.</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.vatNumber">
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">SAVE</button>
        <button mat-flat-button color="primary" (click)="close()">CANCEL</button>
    </div>
</div>