<fury-page-layout mode="card">
    <fury-page-layout-header>
        <!-- <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
            current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs> -->
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="{{ 'CUSTOMERS' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
            <div class="actions">
                <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="actions">
                <button type="button" mat-mini-fab color="primary" (click)="getData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CODE </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CITY </th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>

                <ng-container matColumnDef="postCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> POST CODE </th>
                    <td mat-cell *matCellDef="let element"> {{element.postCode}} </td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TELEPHONE </th>
                    <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="bankAccount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BANK ACCOUNT </th>
                    <td mat-cell *matCellDef="let element"> {{element.bankAccount}} </td>
                </ng-container>

                <ng-container matColumnDef="bankName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BANK NAME</th>
                    <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
                </ng-container>

                <ng-container matColumnDef="vatNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT NUMBER </th>
                    <td mat-cell *matCellDef="let element"> {{element.vatNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (dblclick)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>