<div mat-dialog-title>Role</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <mat-tab-group>
      <mat-tab [label]="'Details'">
        
        <div fxLayout="row" fxLayout.gt-sm="column">

          <mat-form-field fxFlex>
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" matInput [(ngModel)]='role.name'>
          </mat-form-field>
          
          <mat-form-field fxFlex>
            <mat-label>Display Name</mat-label>
            <input type="text" formControlName="displayName" matInput [(ngModel)]='role.displayName'>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Description</mat-label>
            <input type="text" formControlName="description" matInput [(ngModel)]='role.description'>
          </mat-form-field>

        </div>

      </mat-tab>
      <mat-tab [label]="'Permissions'">

        <div class="row-fluid">
          <ng-template ngFor let-permission [ngForOf]="permissions">
            <div class="col-md-6">
              <div class="checkbox-wrapper">
                <mat-checkbox
                  [checked]="isPermissionChecked(permission.name)" 
                  [disabled]="isDisabled()"
                  (change)="onPermissionChange(permission, $event)">
                  {{ permission.displayName }}
                </mat-checkbox>
              </div>
            </div>
          </ng-template>
        </div>
    
      </mat-tab>
    </mat-tab-group>

    
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREATE ROLE</button>
    <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">UPDATE ROLE</button>
  </mat-dialog-actions>
</form>
