<div class="quick-info-widget elevation" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center"
  [style.background]="background" [style.color]="color">

  <div fxLayout="column">
    <div class="label">{{ label }} 01.09-30.11</div>
    <div class="value">{{ data?.firstQuarter?.numberOfDocuments }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total VAT</div>
    <div class="value">&euro; {{ data?.firstQuarter?.totalVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Excl. VAT</div>
    <div class="value">&euro; {{ data?.firstQuarter?.totalExclVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Incl. VAT</div>
    <div class="value">&euro; {{ data?.firstQuarter?.totalInclVat }}</div>
  </div>

</div>

<br>


<div class="quick-info-widget elevation" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center"
  [style.background]="background" [style.color]="color">

  <div fxLayout="column">
    <div class="label">{{ label }} 01.12-28.02</div>
    <div class="value">{{ data?.secondQuarter?.numberOfDocuments }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total VAT</div>
    <div class="value">&euro; {{ data?.secondQuarter?.totalVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Excl. VAT</div>
    <div class="value">&euro; {{ data?.secondQuarter?.totalExclVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Incl. VAT</div>
    <div class="value">&euro; {{ data?.secondQuarter?.totalInclVat }}</div>
  </div>

</div>

<br>


<div class="quick-info-widget elevation" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center"
  [style.background]="background" [style.color]="color">

  <div fxLayout="column">
    <div class="label">{{ label }} 01.03-31.05</div>
    <div class="value">{{ data?.thirdQuarter?.numberOfDocuments }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total VAT</div>
    <div class="value">&euro; {{ data?.thirdQuarter?.totalVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Excl. VAT</div>
    <div class="value">&euro; {{ data?.thirdQuarter?.totalExclVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Incl. VAT</div>
    <div class="value">&euro; {{ data?.thirdQuarter?.totalInclVat }}</div>
  </div>

</div>
<br>

<div class="quick-info-widget elevation" fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center"
  [style.background]="background" [style.color]="color">

  <div fxLayout="column">
    <div class="label">{{ label }} 01.06-31.08</div>
    <div class="value">{{ data?.fourthQuarter?.numberOfDocuments }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total VAT</div>
    <div class="value">&euro; {{ data?.fourthQuarter?.totalVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Excl. VAT</div>
    <div class="value">&euro; {{ data?.fourthQuarter?.totalExclVat }}</div>
  </div>

  <div fxLayout="column">
    <div class="label">Total Incl. VAT</div>
    <div class="value">&euro; {{ data?.fourthQuarter?.totalInclVat }}</div>
  </div>

</div>