/* You can add global styles to this file, and also import other style files */
@import "./@fury/styles/core";
@import "./app/app.theme";

/* fix bootstrap shits */
.mat-tab-body-content {
  padding: 15px !important;
}

.famfamfam-flags {
  display: inline-block;
}

a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

label {
  display: inherit !important;
  max-width: inherit !important;
  margin-bottom: inherit !important;
  font-weight: inherit !important;
}

button {
  outline: inherit !important;
}

.visible {
  visibility: inherit !important;
}
.invisible {
  visibility: inherit !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}

body {
  min-height: 100% !important;
  height: 100% !important;
  line-height: normal !important;
  //   font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  //     Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  letter-spacing: 0.01em !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
