<div class="box box-solid box-light" id="{{guid}}">
    <mat-card style="margin-bottom: 15px; box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.50); border-radius: 8px;">


        <mat-card-header>
            <mat-card-subtitle>

                <div class="row">
                    <div class="col-md-6" style="vertical-align: middle; text-align: left; padding-top: 10px;">
                        <span class="text-danger">*</span> {{ properties.title}}
                    </div>
                    <div class="col-md-6" style="text-align: right;">


                        <button mat-icon-button class="mat-icon-button" (click)="newItem()">
                            <mat-icon color="primary">add</mat-icon>
                        </button>

                        <button mat-icon-button class="mat-icon-button" [disabled]="selectedItem == null"
                            (click)="deleteItem()" disabled="disabled">
                            <mat-icon color="warn">clear</mat-icon>
                        </button>

                        <button mat-icon-button class="mat-icon-button" (click)="save()">
                            <mat-icon color="accent">check</mat-icon>
                        </button>


                    </div>
                </div>

            </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
            <mat-divider></mat-divider>

            <div class="row" style="margin-bottom: 15px; padding-top: 10px;">

                <div class="{{input.class}}" [style]="input.style" *ngFor="let input of properties.inputs">

                    <!-- <label class="col-md-12">
                    <span class="text-danger" *ngIf="input.required || input.asterisk">*</span>
                    {{input.label}}
                </label> -->


                    <div style="padding-left: 0px; padding-right:0px"
                        *ngIf="input.type == 'select' && input.selectAjaxOptions != null" class="col-md-12">

                        <!-- <mat-form-field>
                        <mat-label>{{ input.label }}</mat-label>
                        <mat-select id="{{guid}}_{{input.column}}" [(ngModel)]="input.value"
                            (ngModelChange)="inputChange(input)" class="select2-ajax"
                            [ajax-options]="input.selectAjaxOptions" [functions]="input.functions">
                            <mat-option value="">-</mat-option>
                            <mat-option value="mite">Мите Манев</mat-option>
                            <mat-option value="elena">Елена Манева</mat-option>
                        </mat-select>
                    </mat-form-field> -->



                        <mat-form-field>
                            <mat-label>{{ input.label }}</mat-label>
                            <input id="{{guid}}_{{input.column}}" matInput [matAutocomplete]="auto"
                                [formControl]="stateCtrl" [(ngModel)]="input.value" (ngModelChange)="inputChange(input)"
                                class="select2-ajax" [ajax-options]="input.selectAjaxOptions"
                                [functions]="input.functions">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                                    <span>{{ state.name }}</span>
                                </mat-option>
                            </mat-autocomplete>
                            <button *ngIf="stateCtrl.value" type="button" mat-icon-button (click)="stateCtrl.reset()"
                                matSuffix>
                                <mat-icon>close</mat-icon>
                            </button>
                            <button *ngIf="!stateCtrl.value" type="button" mat-icon-button matSuffix>
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                        </mat-form-field>

                        <!-- <fury-autocomplete fadeInUpStaggerElement></fury-autocomplete> -->

                        <!-- <mat-input-container>
                        <mat-label>State</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto" [formControl]="stateCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-input-container> -->

                    </div>


                    <!-- za obicen select -->
                    <div *ngIf="input.type == 'select' && input.selectAjaxOptions == null && !input.disableSelect2"
                        class="col-md-12" style="padding-left: 0px; padding-right:0px">

                        <mat-form-field>
                            <mat-label>{{ input.label }}</mat-label>
                            <mat-select id="{{guid}}_{{input.column}}" [(ngModel)]="input.value"
                                (ngModelChange)="inputChange(input)" [disabled]="input.disabled">
                                <mat-option value="">-</mat-option>
                                <mat-option *ngFor="let option of input.options" [value]="option.id">
                                    {{option.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <!-- <div *ngIf="input.type == 'select' && input.selectAjaxOptions == null && input.disableSelect2"
                    class="col-md-12">

                    <mat-form-field>
                        <mat-label>{{ input.label }}</mat-label>
                        <mat-select id="{{guid}}_{{input.column}}" [(ngModel)]="input.value"
                            (ngModelChange)="inputChange(input); input.ngChange(input)" [disabled]="input.disabled">
                            <mat-option value="">-</mat-option>
                            <mat-option *ngFor="let option of input.options" [value]="option.id">{{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div> -->

                    <div *ngIf="input.type =='text' || input.type=='input'" class="col-md-12"
                        style="padding-left: 0px; padding-right:0px">

                        <mat-form-field>
                            <mat-label>{{ input.label }}</mat-label>
                            <input matInput id="{{guid}}_{{input.column}}" type="text" [(ngModel)]="input.value"
                                (ngModelChange)="inputChange(input)" [disabled]="input.disabled"
                                [readonly]="input.readOnly">
                        </mat-form-field>


                    </div>

                    <div *ngIf="input.type =='number'" class="col-md-12" style="padding-left: 0px; padding-right:0px">

                        <mat-form-field>
                            <mat-label>{{ input.label }}</mat-label>
                            <input matInput id="{{guid}}_{{input.column}}" type="number" [(ngModel)]="input.value"
                                (ngModelChange)="inputChange(input)" [disabled]="input.disabled"
                                [readonly]="input.readOnly">
                        </mat-form-field>

                    </div>

                    <div *ngIf="input.type =='checkbox'" class="col-md-12" style="padding-left: 0px; padding-right:0px">

                        <mat-checkbox color="primary" id="{{guid}}_{{input.column}}" [value]="input.value"
                            [(ngModel)]="input.value" (ngModelChange)="inputChange(input)" [disabled]="input.disabled">
                            {{input.label}}
                        </mat-checkbox>

                    </div>

                    <div *ngIf="input.type =='number-inEntityString'" class="col-md-12">

                        <mat-form-field>
                            <mat-label>{{ input.label }}</mat-label>
                            <input matInput id="{{guid}}_{{input.column}}" type="number" [(ngModel)]="input.value"
                                (ngModelChange)="inputChange(input)" [disabled]="input.disabled"
                                [readonly]="input.readOnly">
                        </mat-form-field>

                    </div>

                    <div *ngIf="input.type =='numbernegative'" class="col-md-12">

                        <mat-form-field>
                            <mat-label>{{ input.label }}</mat-label>
                            <input matInput id="{{guid}}_{{input.column}}" type="number" [(ngModel)]="input.value"
                                (ngModelChange)="inputChange(input)" [disabled]="input.disabled"
                                [readonly]="input.readOnly">
                        </mat-form-field>

                    </div>


                    <!-- za data -->

                    <div *ngIf="input.type =='date'" class="col-md-12" style="padding-left: 0px; padding-right:0px">


                        <mat-form-field fxFlex="auto">
                            <mat-label>{{ input.label }}</mat-label>
                            <input name="datepicker" matInput [matDatepicker]="picker" [(ngModel)]="input.value"
                                (ngModelChange)="inputChange(input)" readonly id="{{guid}}_{{input.column}}">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <!-- <mat-form-field>
                        <input matInput [mdDatepicker]="datepickerRef" placeholder="ss">
                        <button matSuffix [mdDatepickerToggle]="datepickerRef"></button>
                    </mat-form-field>
                    <mat-datepicker #datepickerRef></mat-datepicker> -->

                        <!-- <input id="{{guid}}_{{input.column}}" type="date" name="datepicker" [(ngModel)]="input.value"
                        (ngModelChange)="inputChange(input)" for>                 -->

                    </div>

                    <div *ngIf="input.type =='dateTime'" class="col-md-12">
                        <input type="datetime" id="{{guid}}_{{input.column}}" [(ngModel)]="input.value"
                            [disabled]="input.disabled">
                    </div>


                </div>



            </div>

            <div class="row" style="text-align: left;">
                <div class="col-md-12">
                    <div style="overflow-y:auto;" class="table-responsive"
                        [ngStyle]="properties.valid ? { 'height' : properties.tableHeight, 'maxHeight' : properties.tableHeight} : {'border': '1px solid red', 'height' : properties.tableHeight, 'maxHeight' : properties.tableHeight}">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th [style]="item.style" *ngFor="let item of properties.inputs">{{item.label}}</th>
                                    <th *ngFor="let displayItem of properties.displayColumns">
                                        {{displayItem.label || displayItem.column}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items" [ngStyle]="properties.rowStyle(item)"
                                    (click)="selectItem(item)"
                                    [ngClass]="{'active': selectedItem == item || (selectedItem?.id != null && selectedItem?.id != 0 && selectedItem?.id == item?.id)}">
                                    <td *ngFor="let input of properties.inputs">
                                        <span *ngIf="input.render" [innerHtml]="input.render(item[input.column])">
                                        </span>
                                        <span *ngIf="!input.render">
                                            {{item[input.displayColumn] || item[input.column]}}
                                        </span>
                                    </td>
                                    <td *ngFor="let displayItem of properties.displayColumns">
                                        <span *ngIf="displayItem.render"
                                            [innerHtml]="displayItem.render(item[displayItem.column])">
                                        </span>
                                        <span *ngIf="!displayItem.render">
                                            {{ item[displayItem.column] }}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </mat-card-content>





    </mat-card>

</div>