::ng-deep .mat-card-header-text {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.mat-form-field {
  display: block;
}

.mat-raised-button {
  line-height: 23px;
  min-width: 35px;
}
