<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">
  <div class="row">

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Invoices"
        [background]="'#009688'" color="white" icon="people" [data]="invoiceStatistics">
      </fury-quick-info-widget>
    </div>

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Purchases"
        [background]="'#4CAF50'" color="white" icon="people" [data]="purchaseStatistics">
      </fury-quick-info-widget>
    </div>

  </div>
  <!-- 
  <div class="row">

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Invoices"
        [background]="'#009688'" color="white" icon="people" [data]="invoiceStatistics"></fury-quick-info-widget>
    </div>

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Purchases"
        [background]="'#4CAF50'" color="white" icon="people" [data]="purchaseStatistics"></fury-quick-info-widget>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Invoices"
        [background]="'#009688'" color="white" icon="people" [data]="invoiceStatistics"></fury-quick-info-widget>
    </div>

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Purchases"
        [background]="'#4CAF50'" color="white" icon="people" [data]="purchaseStatistics"></fury-quick-info-widget>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Invoices"
        [background]="'#009688'" color="white" icon="people" [data]="invoiceStatistics"></fury-quick-info-widget>
    </div>

    <div class="col-sm-6">
      <fury-quick-info-widget class="route-animations-elements" fxFlex="grow" value="234" label="Purchases"
        [background]="'#4CAF50'" color="white" icon="people" [data]="purchaseStatistics"></fury-quick-info-widget>
    </div>

  </div> -->


</fury-page>