<fury-page-layout mode="card">
    <fury-page-layout-header>
        <!-- <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
            current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs> -->
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="{{ 'PURCHASES' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
            <div class="actions">
                <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="actions">
                <button type="button" mat-mini-fab color="primary" (click)="getData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="purchaseNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                    <td mat-cell *matCellDef="let element"> {{element.purchaseNumber}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="supplierName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SUPPLIER NAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="invoiceNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> INVOICE NUM. </th>
                    <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="dateFormatted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateFormatted}} </td>
                </ng-container>

                <ng-container matColumnDef="dateOfPaymentFormatted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF PAYMENT </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateOfPaymentFormatted}} </td>
                </ng-container>

                <ng-container matColumnDef="vatCategoryValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT CATEGORY </th>
                    <td mat-cell *matCellDef="let element"> {{element.vatCategoryValue}} </td>
                </ng-container>

                <ng-container matColumnDef="vatCategoryValueNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT % </th>
                    <td mat-cell *matCellDef="let element"> {{element.vatCategoryValueNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="totalVat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL VAT </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalVat}} </td>
                </ng-container>

                <ng-container matColumnDef="totalExclVat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL EXCL. VAT </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalExclVat}} </td>
                </ng-container>

                <ng-container matColumnDef="totalInclVat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TOTAL INCL. VAT </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalInclVat}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button color="warn" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (dblclick)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>