<div class="row">
    <div class="col-sm-3">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE NUMBER</mat-label>
            <input name="invoiceNumber" matInput type="text" [(ngModel)]="model.invoiceNumber">
        </mat-form-field>
    </div>
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>CUSTOMER</mat-label>
            <mat-select [(ngModel)]="model.customerId">
                <mat-option *ngFor="let item of customers" [value]="item.id">
                    {{item.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-5">
        <mat-form-field fxFlex="100%">
            <mat-label>DATE</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="model.invoiceDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<mat-divider style="margin-bottom: 15px;"></mat-divider>

<div style="max-height: 450px; overflow-y: scroll; overflow-x: hidden;">

    <div class="row" *ngFor="let item of model.lnkInvoiceProduct">
        <div class="col-sm-3" style="padding-right: 5px;">
            <custom-autocomplete title="PRODUCT" [searchService]="substitutionSearch"
                [getDisplayFn]="substitutionDisplayFn" (onSelectedItem)="onSelectedItem($event, item)"
                [selectedValue]="item.productDisplayName" [selectedId]="item.productId">
            </custom-autocomplete>


            <!-- <mat-form-field fxFlex="100%" (contextmenu)="onContextMenu($event, vatCategoryMaterKeyId)">
                <mat-label>PRODUCT</mat-label>
                <mat-select name="frequency" [(ngModel)]="item.productId"
                    (selectionChange)="productChange($event.value, item)">
                    <mat-option *ngFor="let p of products" [value]="p.id">
                        {{p.displayName}}</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <div class="customePudding col-sm-3">
            <mat-form-field fxFlex="100%">
                <mat-label>DESCRIPTION</mat-label>
                <input name="name" matInput type="text" [(ngModel)]="item.description">
            </mat-form-field>
        </div>
        <div class="customePudding col-sm-1">
            <mat-form-field fxFlex="100%">
                <mat-label>QUANTITY</mat-label>
                <input name="name" matInput type="number" [(ngModel)]="item.quantity"
                    (ngModelChange)="quantityChange(item)">
            </mat-form-field>
        </div>
        <div class="customePudding col-sm-1">
            <mat-form-field fxFlex="100%">
                <mat-label>PRICE</mat-label>
                <input name="name" matInput type="number" [(ngModel)]="item.productPrice" readonly>
            </mat-form-field>
        </div>
        <div class="customePudding col-sm-1">
            <mat-form-field fxFlex="100%">
                <mat-label>VAT</mat-label>
                <input name="name" matInput type="number" [(ngModel)]="item.tax" readonly>
            </mat-form-field>
        </div>
        <div class="customePudding col-sm-1">
            <mat-form-field fxFlex="100%">
                <mat-label>TOTAL ECXL. VAT</mat-label>
                <input name="name" matInput type="number" [(ngModel)]="item.totalExclVat" readonly>
            </mat-form-field>
        </div>
        <div class="customePudding col-sm-1">
            <mat-form-field fxFlex="100%">
                <mat-label>TOTAL INCL. VAT</mat-label>
                <input name="name" matInput type="number" [(ngModel)]="item.total" readonly>
            </mat-form-field>
        </div>
        <div class="customePudding col-sm-1">
            <button mat-icon-button color="warn" (click)="deleteProduct(item)">
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </div>
</div>




<mat-divider style="margin-bottom: 15px; margin-top: 15px;"></mat-divider>
<div class="row">
    <div class="col-sm-4" style="text-align: left;">
        <button mat-icon-button color="warn" (click)="addProduct()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="col-sm-2">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE DISCOUNT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="model.discount" (ngModelChange)="discountChange()">
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE TOTAL VAT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="totalVat" readonly>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE TOTAL EXCL. VAT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="totalExclVat" readonly>
        </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field fxFlex="100%">
            <mat-label>INVOICE TOTAL INCL. VAT</mat-label>
            <input name="name" matInput type="number" [(ngModel)]="totalInclVat" readonly>
        </mat-form-field>
    </div>

</div>



<div class="row">
    <div class="col-sm-6" style="text-align: left;">

    </div>
    <div class="col-sm-6" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">SAVE</button>
        <button mat-flat-button color="primary" (click)="close()">CANCEL</button>
    </div>
</div>


<div style="visibility: hidden; position:fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <quick-add (onGoToMasterKeyClicked)="reRouteToMasterKey($event)"
            (onQuickAddClicked)="onQuickAddClicked($event)">
        </quick-add>
    </ng-template>
</mat-menu>