<fury-page-layout mode="card">
    <fury-page-layout-header>
        <!-- <fury-breadcrumbs [@fadeInRight] homeLocalized="{{ 'Home' | localize }}"
            current="{{ 'Users' | localize }} {{ 'Table' | localize }}"></fury-breadcrumbs> -->
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="{{ 'PRODUCTS' | localize }}" [columns]="columns" (filterSubmit)="onFilterSubmit($event)">
            <div class="actions">
                <button class="create" (click)="create()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="actions">
                <button type="button" mat-mini-fab color="primary" (click)="getData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CODE </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="displayName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
                    <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="um">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> U.M. </th>
                    <td mat-cell *matCellDef="let element"> {{element.um}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="vatCategoryValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT CATEGORY </th>
                    <td mat-cell *matCellDef="let element"> {{element.vatCategoryValue}} </td>
                </ng-container>

                <ng-container matColumnDef="vatCategoryValueNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT % </th>
                    <td mat-cell *matCellDef="let element"> {{element.vatCategoryValueNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACTIONS </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <button mat-icon-button color="warn" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (dblclick)="update(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <mat-paginator [length]="dataSource.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>