<div class="row">
    <div class="col-sm-4">
        <mat-form-field fxFlex="100%">
            <mat-label>Code</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.code">
        </mat-form-field>
    </div>
    <div class="col-sm-8">
        <mat-form-field fxFlex="100%">
            <mat-label>Name</mat-label>
            <input name="name" matInput type="text" [(ngModel)]="model.displayName">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <mat-form-field fxFlex="100%">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="model.description"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align: right;">
        <button mat-flat-button color="accent" (click)="save()" style="margin-right: 10px;">SAVE</button>
        <button mat-flat-button color="primary" (click)="close()">CANCEL</button>
    </div>
</div>